[submodule "libs/redux"]
	path = libs/redux
	url = git@github.com:reduxjs/redux.git
[submodule "libs/react-redux"]
	path = libs/react-redux
	url = git@github.com:reduxjs/react-redux.git
[submodule "redux-actions"]
	path = redux-actions
	url = git@github.com:redux-utilities/redux-actions.git
